* {
    margin: 0;
}

.dashboard {
    display: flex;
    margin-top: 20px !important;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 20px 30px rgb(0 0 0 / 10%);
    .gauche,
    .droite {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

.icone {
    display: flex;
    gap: 10px;
    align-items: center;
}
.innerInfo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    gap: 5px;
    font-family: "Ubuntu", sans-serif;
    // font-size: 12px;
    color: #9b9b9b;
    font-weight: 900;
}

.flagMap {
    height: 100px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 20px 30px rgb(0 0 0 / 10%);
    background: white;
}

.gauche .icone > p {
    font-size: 36px;
    color: #4A4A4A;
}

.droite .icone > p {
    font-size: 32px;
    color: #4A4A4A;
}

.fullPage {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
}

.flagMap  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
    p{
        font-family: "Ubuntu", sans-serif;
    }
}

.listFlag{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    img{
        width: 20px;
    }
}
