.profilPhoto-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    .profilPhoto__photo {
        position: relative;
        top: 0;
        width: 100px;
        height: 100px;
        transform: rotate(180deg);
        background: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        // left: -48px;
        // clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        clip-path: polygon(
            98.66025% 45%,
            99.39693% 46.5798%,
            99.84808% 48.26352%,
            100% 50%,
            99.84808% 51.73648%,
            99.39693% 53.4202%,
            98.66025% 55%,
            78.66025% 89.64102%,
            77.66044% 91.06889%,
            76.42788% 92.30146%,
            75% 93.30127%,
            73.4202% 94.03794%,
            71.73648% 94.48909%,
            70% 94.64102%,
            30% 94.64102%,
            28.26352% 94.48909%,
            26.5798% 94.03794%,
            25% 93.30127%,
            23.57212% 92.30146%,
            22.33956% 91.06889%,
            21.33975% 89.64102%,
            1.33975% 55%,
            0.60307% 53.4202%,
            0.15192% 51.73648%,
            0% 50%,
            0.15192% 48.26352%,
            0.60307% 46.5798%,
            1.33975% 45%,
            21.33975% 10.35898%,
            22.33956% 8.93111%,
            23.57212% 7.69854%,
            25% 6.69873%,
            26.5798% 5.96206%,
            28.26352% 5.51091%,
            30% 5.35898%,
            70% 5.35898%,
            71.73648% 5.51091%,
            73.4202% 5.96206%,
            75% 6.69873%,
            76.42788% 7.69854%,
            77.66044% 8.93111%,
            78.66025% 10.35898%
        );
        .profilPhoto {
            position: relative;
            width: 87px;
            height: 87px;
            background: white;
            clip-path: polygon(
                98.66025% 45%,
                99.39693% 46.5798%,
                99.84808% 48.26352%,
                100% 50%,
                99.84808% 51.73648%,
                99.39693% 53.4202%,
                98.66025% 55%,
                78.66025% 89.64102%,
                77.66044% 91.06889%,
                76.42788% 92.30146%,
                75% 93.30127%,
                73.4202% 94.03794%,
                71.73648% 94.48909%,
                70% 94.64102%,
                30% 94.64102%,
                28.26352% 94.48909%,
                26.5798% 94.03794%,
                25% 93.30127%,
                23.57212% 92.30146%,
                22.33956% 91.06889%,
                21.33975% 89.64102%,
                1.33975% 55%,
                0.60307% 53.4202%,
                0.15192% 51.73648%,
                0% 50%,
                0.15192% 48.26352%,
                0.60307% 46.5798%,
                1.33975% 45%,
                21.33975% 10.35898%,
                22.33956% 8.93111%,
                23.57212% 7.69854%,
                25% 6.69873%,
                26.5798% 5.96206%,
                28.26352% 5.51091%,
                30% 5.35898%,
                70% 5.35898%,
                71.73648% 5.51091%,
                73.4202% 5.96206%,
                75% 6.69873%,
                76.42788% 7.69854%,
                77.66044% 8.93111%,
                78.66025% 10.35898%
            );

            // clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
            // transform: rotate(180deg);
            &::after {
                content: "";
                background-image: url("https://img.icons8.com/fluent/144/000000/test-account.png");
                width: 100%;
                height: 100%;
                position: absolute;
                background-position: center;
                transform: rotate(180deg);
            }
        }
    }
}

.cetfifIcon {
    position: absolute;
    bottom: 40px;
    left: 71px;
}

mat-tab-group {
    position: relative;
    top: -20px;
    z-index: 10000;
}

::ng-deep .mat-tab-header {
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.104212);
    background: white;
}

::ng-deep .mat-ink-bar {
    background: linear-gradient(180deg, #3ee38a 0%, #00d3a1 100%);
    box-shadow: 0px 15px 20px rgba(0, 195, 147, 0.500027);
}

::ng-deep .mat-tab-labels {
    border-radius: 30px;
}

.tabs-contenu {
    padding: 0 15px;
}

.icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.headerProfil {
    background: linear-gradient(192.04deg, #25cae5 6.05%, #4c71e5 100%);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 180px;
    width: 100%;
    position: relative;
    z-index: 0;
}

// img {
//     height: 100%;
//     width: 100%;
// }
