* {
    margin: 0;
}
.cercle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.0655571);
}

.detailReq,
.reponsesRequetes {
    padding: 20px;
}

.detailReq {
    border-bottom: 2px solid #f1f1f1;
}

.profilInfo {
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.reponsesRequetes {
    margin-top: 10px;
}

.notation {
    display: flex;
    justify-content: space-between;
    width: 131px;
}

.gauche,
.droite {
    display: flex;
    gap: 12px;
    align-items: center;
}

.meilleurRep{
    display: flex;
    gap: 10px;
}
