<!-- <ion-content> -->
  <section (click)="close()" style="height: 100%;width: 100%;">
    <div #header class="tof">
      <!-- <img src="http://placehold.it/600x300" /> -->

      <div style="height: 200px;width: 100%;background:blue"></div>

      <div class="container">
        <div class="text">
          <h2>Really cool...</h2>

          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make
            a type specimen book.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make
            a type specimen book.</p>
        </div>
      </div>
    </div>
  </section>
<!-- </ion-content> -->