<ion-content>
	<agm-map [latitude]="latitude" [longitude]="longitude">
		<agm-marker *ngFor="let p of places|async; let i = index" [latitude]="p.location.lat"
			(markerClick)="getSlider(i)" [longitude]="p.location.lng" [iconUrl]="p.iconUrl">
		</agm-marker>

	</agm-map>
	<div style="position: absolute;bottom: 10px;width: 100%;">
		<ion-slides pager="false" [options]="slideOpts" #slides>
			<ion-slide *ngFor="let g of places|async" (click)="openDescription(g)">
				<div [ngStyle]="{'background-image': 'url(' + g.banniere + ')'}" class="photoSlide">
				</div>
				<div style="flex: 3;height: 100%;text-align: left;flex-direction: column;justify-content: space-between;display: flex;">
					<div class="textZone">
						<h3 style="color: black;font-size: 16px;">{{g.nom}}</h3>
						<p style="font-size: 12px;">{{g.addFormat}}</p>
					</div>
					<div class="stars">
						<ngx-star-rating [(ngModel)]="rating3" [id]="'rating3'"></ngx-star-rating>
					</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
</ion-content>