<ion-content>
	<div style="padding: 30px 0px 0px 0px;">
		<h2 class="titreSlide">Gastronomie</h2>
		<app-slider-voyage *ngIf="places|async as gast; else template" [places]="gastronomieTab"
			(navigtionData)="navigate($event)"></app-slider-voyage>
		<h2 class="titreSlide">Culture</h2>
		<app-slider-voyage *ngIf="places|async as gast; else template" [places]="cultureTab"
			(navigtionData)="navigate($event)"></app-slider-voyage>
		<h2 class="titreSlide">Shopping</h2>
		<app-slider-voyage *ngIf="places|async as gast; else template" [places]="shoppingTab"
			(navigtionData)="navigate($event)"></app-slider-voyage>
		<h2 class="titreSlide">Activité</h2>
		<app-slider-voyage *ngIf="places|async as gast; else template" [places]="activiteTab"
			(navigtionData)="navigate($event)"></app-slider-voyage>
	</div>
</ion-content>
<ng-template #template>
	<ion-slides pager="false" [options]="slideOpts">
		<ion-slide *ngFor="let f of tablTemplate">
			<div class="background">
			</div>
			<div class="bandeau">
				<div class="stars">
					<ngx-star-rating [(ngModel)]="rating2" [id]="'rating2'"></ngx-star-rating>
				</div>
			</div>
		</ion-slide>
	</ion-slides>
</ng-template>