.mascotteForm {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #d1f4f8;
    border: 2px solid white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
