<div style="width: 100%;padding: 0 20px; margin-bottom: 20px;">
  <p>{{message}}</p>
</div>
<div class="mascotteForm" style="background-image: url(../../assets/images/mascotte.svg);">
  <svg width="79" height="38" viewBox="0 0 79 38" fill="none" xmlns="http://www.w3.org/2000/svg"
    style="position: absolute;top: -24px;left: 10px;">
    <path d="M3.5 12V0.5L77 2.5V12H53.5L27 34L30 12H3.5Z" fill="white" />
    <path d="M0 11.5H30.5L27 34L53 11.5H79" stroke="#F1F1F1" stroke-width="3" />
  </svg>
</div>
