.photoFond {
    height: 100%;
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.cercle {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
